*.pyc
.DS_Store
.idea/
node_modules/
.venv
venv
.vscode
target/
*.rs.bk
.aoc
# To allow to keep code but not push it because it's too slow
*.save
# To allow to work on gocode
workspace

# No effing test ;)
*_test.go

Pipfile
Pipfile.lock
